<h2>Rooms</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Room ID </th>
      <td mat-cell *matCellDef="let row"> {{row['id']}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let row"> {{row['category']}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let row"> {{row['type']}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let row"> {{row['price']}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="hotel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hotel </th>
      <td mat-cell *matCellDef="let row"> {{row['hotel']}} </td>
    </ng-container>

    <ng-container matColumnDef="book">
      <th mat-header-cell *matHeaderCellDef> Book </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToBook(element.id)">
          <mat-icon class="mat-18">Book</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[4, 8, 12, 32]" showFirstLastButtons></mat-paginator>

</div>
